In [14]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data_root = "https://github.com/yauemily/L7_Hackathon/raw/main/Data/"
data = pd.read_csv(data_root + "corona_tested_individuals_ver_006.english.csv")
#this is a test dataset from Cambridge Spark L7 Hackaton
data.head(5)

C:\Users\simon\AppData\Local\Temp\ipykernel_20992\3518271654.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(data_root + "corona_tested_individuals_ver_006.english.csv")

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2020-04-30,0.0,0.0,0.0,0.0,0.0,negative,NaN,female,Other
1,2020-04-30,1.0,0.0,0.0,0.0,0.0,negative,NaN,female,Other
2,2020-04-30,0.0,1.0,0.0,0.0,0.0,negative,NaN,male,Other
3,2020-04-30,1.0,0.0,0.0,0.0,0.0,negative,NaN,female,Other
4,2020-04-30,1.0,0.0,0.0,0.0,0.0,negative,NaN,male,Other

In [15]:
data.tail()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
278843,2020-03-11,0.0,0.0,0.0,0.0,0.0,negative,NaN,NaN,Other
278844,2020-03-11,0.0,0.0,0.0,0.0,0.0,negative,NaN,NaN,Other
278845,2020-03-11,0.0,0.0,0.0,0.0,0.0,positive,NaN,NaN,Contact with confirmed
278846,2020-03-11,0.0,0.0,0.0,0.0,0.0,other,NaN,NaN,Other
278847,2020-03-11,0.0,0.0,0.0,0.0,0.0,negative,NaN,NaN,Other

In [16]:
data.sample(5)

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
248752,2020-03-25,0.0,0.0,0.0,0.0,0.0,negative,No,male,Other
98705,2020-04-18,0.0,0.0,0.0,0.0,0.0,negative,NaN,female,Other
229137,2020-03-29,0.0,0.0,0.0,0.0,0.0,negative,No,female,Other
232020,2020-03-28,0.0,0.0,0.0,0.0,0.0,negative,No,female,Other
83853,2020-04-19,0.0,0.0,0.0,0.0,0.0,negative,NaN,female,Other

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278848 entries, 0 to 278847
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   test_date            278848 non-null  object
 1   cough                278596 non-null  float64
 2   fever                278596 non-null  float64
 3   sore_throat          278847 non-null  float64
 4   shortness_of_breath  278847 non-null  float64
 5   head_ache            278847 non-null  float64
 6   corona_result        278848 non-null  object
 7   age_60_and_above     151528 non-null  object
 8   gender               259285 non-null  object
 9   test_indication      278848 non-null  object
dtypes: float64(5), object(5)
memory usage: 21.3+ MB

In [18]:
data.dtypes

test_date               object
cough                  float64
fever                  float64
sore_throat            float64
shortness_of_breath    float64
head_ache              float64
corona_result           object
age_60_and_above        object
gender                  object
test_indication         object
dtype: object

In [19]:
data.describe()

,cough,fever,sore_throat,shortness_of_breath,head_ache
count,278596.000000,278596.000000,278847.000000,278847.000000,278847.000000
mean,0.151574,0.078077,0.006907,0.005655,0.008657
std,0.358608,0.268294,0.082821,0.074990,0.092640
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
data.shape

(278848, 10)

In [21]:
data.count()

test_date              278848
cough                  278596
fever                  278596
sore_throat            278847
shortness_of_breath    278847
head_ache              278847
corona_result          278848
age_60_and_above       151528
gender                 259285
test_indication        278848
dtype: int64

In [22]:

data.isna().sum()

test_date                   0
cough                     252
fever                     252
sore_throat                 1
shortness_of_breath         1
head_ache                   1
corona_result               0
age_60_and_above       127320
gender                  19563
test_indication             0
dtype: int64

In [23]:
df_sorted = data.sort_values(by='test_date', ascending=True)

In [24]:
# Import libraries
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [26]:
X = df_sorted["corona_result"]

In [33]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()
df_encoded = encoder.fit(df_sorted)
print(df_encoded)

OneHotEncoder()

In [34]:
from sklearn.preprocessing import StandardScaler
import numpy as np

scaler = StandardScaler()

df_encoded = pd.DataFrame(scaler.fit_transform(data))
print(data)

ValueError: could not convert string to float: '2020-04-30'

In [ ]:
#MinMaxScaler() from sklearn

In [ ]:
#RobustScaler() from sklearn addresses this by: